@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: white;
}

header {
  margin-top: 27px;
  margin-bottom: 92px;
  font-weight: 700;
}

h1,
h2,
a,
p,
button {
  font-family: "Roboto", sans-serif;
}

button,
a {
  cursor: pointer;
}

.body {
  width: 100%;
}

.navigation a {
  margin: 0 14px;
  font-weight: 400;
  position: relative;
}

.navigation a::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: black;
  transition: width 300ms;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}

.navigation a:hover::after {
  width: 100%;
}

.container.header-button .button {
  margin: 0 9px;
  padding: 13px 24px;
  border-radius: 100px;
}

.container .button.login {
  background: white;
  border: 1px solid black;
  width: 96px;
  height: 52px;
}
.container .button.login,
.container .button.expert {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.container-talk-to-us .talk-to-us,
.description .button button,
.container .button.expert,
.container .button.login,
.start-switch button,
.ac-hub button {
  transition: color 250ms, background-color 250ms;
}

.container .button.login:hover {
  background: black;
  color: white;
}

.container .button.expert {
  background: black;
  color: white;
  border: 1px solid black;
}

.container .button.expert:hover {
  background: white;
  color: black;
}

.finances .text {
  margin-right: 48px;
}

.finances h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 77px;
  line-height: 83px;
  color: black;
}

.finances p {
  margin-top: 27px;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  line-height: 31px;
}

.container-talk-to-us {
  top: 615px;
  z-index: 1;
  margin: 0 24px;
}

.container-talk-to-us h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.container-talk-to-us .talk-to-us {
  margin-top: 27px;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 25px;
  padding: 18px 31px;
  border: 1px solid black;
  border-radius: 100px;
  background: black;
  color: white;
}

.container-talk-to-us .talk-to-us:hover {
  background: white;
  color: black;
}

hr {
  top: 688px;
  height: 2px !important;
  border: none;
  width: 100%;
  background: #eaeef2;
}

.best-finance {
  margin-top: 211px;
  margin-bottom: 259px;
}

.best-finance .header {
  padding: 0 60px 0 0;
  margin-bottom: 33px;
}

.best-finance h1 {
  font-size: 57px;
  line-height: 58px;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.best-finance p {
  font-size: 20px;
  line-height: 31px;
  font-weight: 400;
  font-style: normal;
}

.best-finance p a,
.description a {
  color: #305c81;
}

.best-finance p a:hover,
.description a:hover {
  color: #305d81c0;
}

.description {
  margin-bottom: 126px;
}

.description .header {
  margin-bottom: 82px;
}

.description h1 {
  font-size: 58px;
  line-height: 58px;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.description .row {
  margin-bottom: 71px;
}

.description .card {
  border: none;
}

.description .card-title {
  color: black;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}

.description .card-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.description .button button {
  padding: 12px 31px;
  border: 1px solid #f7b2b7;
  background: #f7b2b7;
  color: black;
  border-radius: 100px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.description .button button:hover {
  background: white;
}

.plans {
  background: #fdeced;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.plans .header {
  padding-top: 88px;
  color: black;
  margin-bottom: 82px;
}

.plans .header h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
}

.plans .row .card {
  border: none;
  background: #fdeced;
  padding-bottom: 89px;
}

.plans .card .card-title {
  margin-top: 24px;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: black;
}

.plans .card .card-text {
  margin-top: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.brends {
  margin-top: 113px;
}

.brends .text {
  margin-top: 50px;
  margin-right: 137px;
  width: 50%;
}

.brends .text h2 {
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.brends .row .card {
  border: none;
}

.brends .row {
  margin-bottom: 95px;
}

.ac-hub {
  padding: 108px 0 78px 0;
}

.ac-hub h1 {
  color: black;
  margin-bottom: 40px;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
}

.ac-hub p {
  margin-bottom: 79px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}

.ac-hub button {
  padding: 12px 31px;
  background: #f7b2b7;
  border: 1px solid #f7b2b7;
  border-radius: 100px;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.ac-hub button:hover {
  background: white;
}

.start-switch {
  background: #8bd4d6;
  border-radius: 10px;
  margin-bottom: 108px;
}

.start-switch .container {
  padding: 89px 90px;
}

.start-switch h1 {
  color: black;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  font-style: normal;
  margin-bottom: 18px;
}

.start-switch p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}

.start-switch button {
  border: 1px solid black;
  border-radius: 100px;
  background: black;
  padding: 12px 31px;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.start-switch button:hover {
  background: #8bd4d6;
  color: black;
}

footer {
  background: #302e3f;
}

footer .container-footer {
  padding-top: 45px;
  padding-bottom: 45px;
}

.container-footer .icon h2 {
  margin: 0 0 0 18px;
  color: white;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.container-footer .icon {
  margin-bottom: 50px;
}

.container-footer .row {
  row-gap: 80px;
}

.container-footer .row .card {
  border: none;
  background: #302e3f;
}

.container-footer .card-title {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 12px;
}

.container-footer .card-text {
  color: #c5e9ea;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.container-footer .dmca {
  column-gap: 27px;
  color: #c5e9ea;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
