@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: white;
}

header {
  margin-top: 27px;
  margin-bottom: 92px;
  font-weight: 700;
}

h1,
h2,
a,
button {
  font-family: "Roboto", sans-serif;
}

a {
  margin: 0 14px;
  font-weight: 400;
}

.container.header-button .button {
  margin: 0 9px;
  padding: 13px 24px;
  border-radius: 100px;
}

.container .button.login {
  background: white;
  border: 1px solid black;
  width: 96px;
  height: 52px;
}

.container .button.login,
.container .button.expert,
.container-talk-to-us .talk-to-us {
  transition: color 200ms, background-color 200ms;
}

.container .button.login:hover {
  background: black;
  color: white;
}

.container .button.expert {
  background: black;
  color: white;
  border: 1px solid black;
}

.container .button.expert:hover {
  background: white;
  color: black;
}

.finances .text {
  margin-right: 48px;
}

.finances h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 77px;
  line-height: 83px;
  color: black;
}

.finances p {
  margin-top: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  line-height: 31px;
}

.container-talk-to-us {
  top: 615px;
  z-index: 1;
  margin: 0 24px;
}

.container-talk-to-us h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.container-talk-to-us .talk-to-us {
  margin-top: 27px;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 25px;
  padding: 18px 31px;
  border: 1px solid black;
  border-radius: 100px;
  background: black;
  color: white;
}

.container-talk-to-us .talk-to-us:hover {
  background: white;
  color: black;
}

hr {
  top: 688px;
  height: 1px;
  border: none;
  width: 100vw;
  background: #eaeef2;
}
